.Container {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  height: 100%;
  padding: 15px;
  /* outline: 1px solid salmon; */
}
