.Header {
  position: relative;
  display: flex;
  align-items: center;
  /* justify-items: space-between; */
}

.Header::after {
  content: '';
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
}

.Title {
  margin-right: auto;
}

.AddProduct {
  margin-right: 15px;
}

.ErrorMessage {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  color: red;
}

.Form {
  display: flex;
  flex-direction: column;
  /* min-width: 200px; */
  width: 400px;
}

.Label {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-bottom: 7px;
}

.Input {
  margin-right: 10px;
  width: 250px;
  /* margin-left: 20px; */
}
