.Footer {
  position: fixed;
  bottom: 0;
  left: 40%;
  width: 100%;
}

.FooterText::before {
  content: '';
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 40px;
  left: -40%;
  margin-bottom: 10px;
}
